<div class="modal-header">
	<h4 class="modal-title">
		{{variation.name}}
	</h4>
	<div style="display:table-row;"" >
		<svg width="40px" height="22px" style="display:table-cell; padding-right:5px">
			<rect ng-attr-class="vcat_{{variationCategory.name}}" y="15%" width="100%" height="70%"></rect>
			<rect class="varBox" y="15%" width="100%" height="70%"></rect>
		</svg>
		<div style="display:table-cell; vertical-align: middle;">{{variationCategory.displayName}}</div>
	</div>
</div>
<div class="modal-body">
	<table class="table table-bordered table-striped">
		<tr><td><b>Variant amino acid:</b></td><td>{{handleNull(variation.pattern)}}</td></tr>
		<tr><td><b>Defining GLUE reference sequence / feature:</b></td><td>{{variation.referenceSequence}} / {{variation.feature}}</td></tr>
	</table>
	<div ng-show="publicSeqFreqs">
		<h4>Public sequence frequency</h4>
		<p>Percentage of NCBI sequences in different clades which contain this epitope</p>		
		<table class="table table-striped table-nonfluid table-bordered">
			<tr ng-repeat="cladeFreq in publicSeqFreqs track by $index">
				<td><b>{{cladeFreq.alignmentName}}</b></td>
				<td>{{toFixed(cladeFreq.ncbiCuratedFrequencyPct, 2)}} %</td>
			</tr>
		</table>
	</div>
	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="close()">OK</button>
</div>
