<div class="modal-header">
	<h3 class="modal-title">
		Select variation categories
	</h3>
		<h4>Variations will be highlighted which are:</h4>
		 	<ol>
		 		<li>Members of at least one included category, and</li>
		 		<li>Not members of any excluded category</li>
		 	</ol>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>Included category</th>
							<th>Notifiability</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="varCat in included">
							<td>{{varCat.description}}</td>
							<td class="differenceSummaryNOTIFIABLE" ng-show="varCat.notifiability == 'NOTIFIABLE'">Notifiable</td>
							<td class="differenceSummaryNOT_NOTIFIABLE" ng-show="varCat.notifiability == 'NOT_NOTIFIABLE'">Not notifiable</td>
							<td><button type="button" class="btn btn-danger btn-xs"
									ng-click="removeFromIncluded(varCat)"/>
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>Excluded category</th>
							<th>Notifiability</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="varCat in excluded">
							<td>{{varCat.description}}</td>
							<td class="differenceSummaryNOTIFIABLE" ng-show="varCat.notifiability == 'NOTIFIABLE'">Notifiable</td>
							<td class="differenceSummaryNOT_NOTIFIABLE" ng-show="varCat.notifiability == 'NOT_NOTIFIABLE'">Not notifiable</td>
							<td><button type="button" class="btn btn-danger btn-xs"
									ng-click="removeFromExcluded(varCat)"/>
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Unused category</th>
					<th>Notifiability</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="varCat in unused">
					<td>{{varCat.description}}</td>
					<td class="differenceSummaryNOTIFIABLE" ng-show="varCat.notifiability == 'NOTIFIABLE'">Notifiable</td>
					<td class="differenceSummaryNOT_NOTIFIABLE" ng-show="varCat.notifiability == 'NOT_NOTIFIABLE'">Not notifiable</td>
					<td><button type="button" class="btn btn-primary btn-xs"
							ng-click="addToIncluded(varCat)"/>
							<span class="glyphicon glyphicon-ok-circle"></span> Add to included
						</button></td>
					<td><button type="button" class="btn btn-primary btn-xs"
							ng-click="addToExcluded(varCat)"/>
							<span class="glyphicon glyphicon-ban-circle"></span> Add to excluded
						</button></td>
				</tr>
			</tbody>
		</table>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="select()">OK</button>
	<button type="button" class="btn btn-cancel" ng-click="dismiss()">Cancel</button>
</div>
