<div class="modal-header">
	<h4 class="modal-title">
		GLUE supported sequence file formats
	</h4>
</div>
<div class="modal-body">
	<table class="table borderless">
		<tr><th>Format</th><th>GLUE format name</th><th>Example</th><th>Documentation</th></tr>
		<tr ng-repeat="sequenceFormat in sequenceFormats">
			<td>{{sequenceFormat.displayName}}</td>
			<td>{{sequenceFormat.name}}</td>
			<td><a target="_blank" href="seqFormatExamples/{{sequenceFormat.name}}">Example file <i class="glyphicon glyphicon-link"></i></a></td>
			<td><a target="_blank" ng-show="sequenceFormat.formatURL" href="{{sequenceFormat.formatURL}}">Click here <i class="glyphicon glyphicon-link"></i></a></td>
		</tr>
	</table>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="dismiss()">OK</button>
</div>
