<!DOCTYPE html>
<html ng-app="hcvApp">
<head>
	<script type="text/javascript" src="../angular/angular.min.js"></script>
	<script type="text/javascript" src="../angular.treeview/angular.treeview.js"></script>
	<script type="text/javascript" src="../underscore/underscore-min.js"></script>
	<script type="text/javascript" src="../ui-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="../main/js/hcv.js"></script>
	
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="../angular.treeview/css/angular.treeview.css"/>
	<link rel="stylesheet" href="../main/css/style.css"/>
</head>
<body>
<h1>HCV mutation frequencies</h1>


<div ng-controller="AccordionDemoCtrl">
  <p>
    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
    <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
  </p>

  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>
  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>


<div ng-controller="searchCtrl">
	<h3>Select genotype / subtype</h3>
	<p>Selected ID: {{genotypeID}}</p>
	<div
	    data-angular-treeview="true"
	    data-tree-id="genotypesTree"
	    data-tree-model="genotypes"
	    data-default-selected-id="HCV"
	    data-default-open-depth="1"
	    data-node-id="id"
	    data-node-label="label"
	    data-node-children="children">
	</div>

</div>




</body>
</html>