<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<script type="text/javascript" src="../angular/angular.min.js"></script>
	<script type="text/javascript" src="../underscore/underscore-min.js"></script>
	<script type="text/javascript" src="../main/js/todo.js"></script>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="../main/css/style.css"/>
</head>
<body>
<div ng-controller="todoCtrl">
	<h2>Total todos: {{getTotalTodos()}}</h2>
	<ul>
		<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.done"/>
			<span class="done-{{todo.done}}">{{todo.text}}</span>
		</li>
	</ul>
	<form class="form-horizontal">
		<input type="text" ng-model="formTodoText"/>
		<button class="btn" ng-click="addTodo()"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
	</form>
	<button class="btn" ng-click="clear()"><span class="glyphicon glyphicon-trash"></span> Clear</button>
</div>
</body>
</html>