*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
RemoteSystemsTempFiles
.gradle/
gluetools-web/build
export.fasta
build
gluetools-web/WebContent/www/gluetoolsApp/downloads
gluetoolsApp/WebContent/downloads
gluetoolsApp/WebContent/exampleProject
gluetools-mysql-docker/bin
gluetools-core/bin
