
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Remove "blue glow" from buttons
	could be the wrong thing to do in terms of accessibility?  */

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}


.mutationTable {
    table-layout: fixed;
    width: 100%;
}

.mutationTable th, .mutationTable td, .mutationTable tr, .mutationTable tbody { 
    border-right: thick solid #ffffff;
    border-top-style: none !important;
    border-bottom-style: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
}

.mutationTableConsensusIndex, .mutationTableConsensusAA {
	font-weight: bold;
	color: #999999;
}

.mutationTableNumIsolates {
	font-weight: bold;
	font-size: 80%;
}

.mutationTableNumIsolates td, .mutationAA td {
	background-color: #ddeeff;
}


.mutationAA {
	font-weight: bold;
	color: #ff0000;
}

.my-drop-zone { 
	border: dotted 3px lightgray; 
}

.nv-file-over { 
	border: dotted 3px red; 
} 
/* Default class applied to drop zones on over */
.another-file-over-class { 
	border: dotted 3px green; 
}

a {
	cursor: pointer;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.table-nonfluid {
   width: auto !important;
}
