
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Remove "blue glow" from buttons
	could be the wrong thing to do in terms of accessibility?  */

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}


.mutationTable th, .mutationTable td { 
    border-right: thick solid #ffffff;
    
    border-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
}

.mutationTableConsensusIndex, .mutationTableConsensusAA {
	font-weight: bold;
	color: #999999;
}

.mutationTableNumIsolates {
	font-weight: bold;
	font-size: 80%;
}

.mutationTableNumIsolates td, .mutationAA td {
	background-color: #ddeeff;
}


.mutationAA {
	font-weight: bold;
	color: #ff0000;
}
