
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Remove "blue glow" from buttons
	could be the wrong thing to do in terms of accessibility?  */

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}



.my-drop-zone { 
	border: dotted 3px lightgray; 
}

.nv-file-over { 
	border: dotted 3px red; 
} 
/* Default class applied to drop zones on over */
.another-file-over-class { 
	border: dotted 3px green; 
}

a {
	cursor: pointer;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.table-nonfluid {
   width: auto !important;
}

.sequenceLabel, .codonLabel, .referenceAa, .queryAa, .queryAaDiff, .referenceNt, .queryNt, .queryNtDiff {
    text-anchor: middle;
    alignment-baseline: central;
}

.sequenceLabel, .codonLabel, .referenceAa, .queryAa, .queryAaDiff {
	font-size: 120%;
}

.referenceNt, .queryNt, .queryNtDiff {
	font-size: 90%;
}
	
.sequenceLabel {
	fill: #222222;
}

.codonLabel {
	fill: #222222;
}

.referenceAa, .queryAa, .queryAaDiff, .referenceNt, .queryNt, .queryNtDiff  {
	font-weight: bold;
}

.referenceAa {
	fill: #3a5c7e;
}

.referenceAaBackground {
	fill: #ddeeff;
}

.queryAa {
	fill: #557733;
}

.queryAaBackground {
	fill: #ddeecc;
}

.queryAaDiff, .queryNtDiff {
	fill: #ffffff;
}

.queryAaDiffBackground, .queryNtDiffBackground {
	fill: #aaaaaa;
}

.referenceNt {
	fill: #88aacc;
}

.queryNt {
	fill: #99bb77;
}


.difference {
	background-color: #aaaaaa; 
	color: #ffffff;
}

.difference, .differenceNOTIFIABLE, .differenceNOT_NOTIFIABLE {
	cursor: pointer;
}

.differenceSummary, .differenceSummaryNOTIFIABLE, .differenceSummaryNOT_NOTIFIABLE {
	cursor: pointer;
}

.differenceSummaryNOTIFIABLE {
	color: #CC0000;
}

.differenceSummaryNOT_NOTIFIABLE {
	color: #559900;
}

.differenceSummary {
	color: #aaaaaa; 
}



.analysisSequenceReferenceNTIndex, .analysisSequenceReferenceNT, .analysisSequenceQueryNTIndex, .analysisSequenceQueryNT {
	font-weight: bold;
}

.analysisSequenceReferenceNTIndex, .analysisSequenceReferenceNT {
	color: #88aacc;
}

.analysisSequenceQueryNTIndex, .analysisSequenceQueryNT {
	color: #99bb77;
}

.analysisSequenceReferenceNTIndex div, .analysisSequenceQueryNTIndex div {
	-ms-transform: rotate(90deg) translate(-105%, 30%); 
    -webkit-transform: rotate(90deg) translate(-105%, 30%);
	transform: rotate(90deg) translate(-105%, 30%);
	height: 50px;
	text-align: left;
}

.popover {
	width: 400px;
}







