

<!-- 1. nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
<div ng-app="submitSequencesAnalysis">
	<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
		<h2>Sequence analysis</h2>
		<div>
			<h3>{{selectFilesHeader}} <small><a ng-click="seqPrepDialog()">Preparing your sequences for analysis <i class="glyphicon glyphicon-link"></i></a></small></h3> 			
			<p></p>			
			<div class="row">
				<div class="col-md-6">
					<div ng-show="uploader.isHTML5">
						<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
						<div nv-file-drop="" uploader="uploader">
							<div nv-file-over="" uploader="uploader"
								over-class="another-file-over-class" class="well my-drop-zone">
								<p align="center">{{dropZoneText}}</p>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-md-6">
					<p>{{browseAndSelectHeader}}</p>
					<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
					<label class="btn btn-primary" for="my-file-selector"> <input
						id="my-file-selector" type="file" nv-file-select=""
						uploader="uploader" multiple style="display: none;">
						{{selectFilesButtonText}}
					</label>
				</div>
			</div>
	
			<div>
				<h3>File queue</h3>
	
				<table class="table">
					<thead>
						<tr>
							<th width="50%">File</th>
							<th ng-show="uploader.isHTML5">Size</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<td class="text-center">
								<span ng-show="item.isSuccess">
									<i class="glyphicon glyphicon-ok"></i>
								</span> 
								<span ng-show="item.isCancel">
									<i class="glyphicon glyphicon-ban-circle"></i>
								</span>
								<span ng-show="item.isUploading">
									<i class="glyphicon glyphicon-transfer"></i>
								</span>
								<span ng-show="item.isError">
									<i class="glyphicon glyphicon-remove"></i>
								</span></td>
							<td nowrap>
								<button type="button" class="btn btn-success btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Submit
								</button>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="showAnalysisResults(item)" ng-disabled="!item.isSuccess">
									<span class="glyphicon glyphicon-list"></span> Analysis
								</button>
								<button type="button" class="btn btn-danger btn-xs"
									ng-click="removeItem(item)">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>
	
				<div>
					<button type="button" class="btn btn-success btn-s"
						ng-click="uploader.uploadAll()"
						ng-disabled="!uploader.getNotUploadedItems().length">
						<span class="glyphicon glyphicon-upload"></span> Submit all
					</button>
					<button type="button" class="btn btn-danger btn-s"
						ng-click="removeAll()"
						ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all
					</button>
				</div>
	
			</div>
	
			<div ng-show="fileItemUnderAnalysis">
				<h3>Analysis</h3>
				<table class="table table-nonfluid">
					<thead>
						<tr>
							<th>File</th>
							<th>Sequence</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{fileItemUnderAnalysis.file.name}}</td>
							<td>
								<select ng-model="selectedSequenceAnalysis" 
									ng-options="sequenceAnalysis.fastaId for sequenceAnalysis in fileItemUnderAnalysis.webAnalysisResult.sequenceAnalysis"
									>
							    </select>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-nonfluid">
					<thead>
						<tr>
							<th>Reference sequence</th>
							<th>Genome feature</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<select ng-model="selectedRefName" 
									ng-options="x for x in selectedSequenceAnalysis.ancestorRefName"
									>
							    </select>
							</td>
							<td>
								<select ng-model="selectedFeatureAnalysis" 
									ng-options="featureAnalysis.featureName for featureAnalysis in fileItemUnderAnalysis.webAnalysisResult.featureAnalysis"
									>
							    </select>
							
							</td>
						</tr>
					</tbody>
				</table>
				
				<div style="width: 1000px; display: table;">
			        <div style="display: table-cell;">
						<svg ng-attr-height="{{svgHeight()}}" ng-attr-width="{{sequenceLabelWidth()}}">
						  <text 
						  	class="sequenceLabel" 
							    	ng-attr-x="{{referenceLabelX()}}"
							    	ng-attr-y="{{referenceLabelY()}}"
							    	ng-attr-width="{{referenceLabelWidth()}}"
							    	ng-attr-height="{{referenceLabelHeight()}}"
							    	ng-attr-dx="{{referenceLabelWidth()/2.0}}"
							    	ng-attr-dy="{{referenceLabelHeight()/2.0}}"
							    	>{{selectedRefName}}</text>
						</svg>
			        </div>
			        <div style="display: table-cell;">
			        	<div style="overflow: auto; width: 900px;">
							<svg 
								ng-attr-height="{{svgHeight()}}" 
								ng-attr-width="{{svgWidth()}}">
							    <text class="codonLabel" ng-repeat="codonLabel in selectedFeatureAnalysis.codonLabel track by $index"
							    	ng-attr-x="{{codonLabelX(codonLabel)}}"
							    	ng-attr-y="{{codonLabelY()}}"
							    	ng-attr-width="{{codonLabelWidth(codonLabel)}}"
							    	ng-attr-height="{{codonLabelHeight()}}"
							    	ng-attr-dy="{{codonLabelHeight()/2.0}}"
							    	ng-attr-dx="{{codonLabelWidth(codonLabel)/2.0}}"
							    	>{{codonLabel.label}}</text>
							  <g ng-repeat="referenceAa in selectedRefSeqFeatAnalysis.aas track by $index">
							    <rect class="referenceAaBackground" 
							    	ng-attr-x="{{referenceAaX(referenceAa)}}"
							    	ng-attr-y="{{referenceAaY()}}"
							    	ng-attr-width="{{referenceAaWidth(referenceAa)}}"
							    	ng-attr-height="{{referenceAaHeight()}}"
							    	/>
							    <text class="referenceAa" 
							    	ng-attr-x="{{referenceAaX(referenceAa)}}"
							    	ng-attr-y="{{referenceAaY()}}"
							    	ng-attr-width="{{referenceAaWidth(referenceAa)}}"
							    	ng-attr-height="{{referenceAaHeight()}}"
							    	ng-attr-dy="{{referenceAaHeight()/2.0}}"
							    	ng-attr-dx="{{referenceAaWidth(referenceAa)/2.0}}"
							    	>{{referenceAa.aa}}</text>
							  </g>
							</svg>
				        </div>
			        </div>
				</div>

			</div>
		</div>
	</div>
</div>