

<!-- 1. nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
<div ng-app="submitSequencesAnalysis">
	<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
		<h2>{{pageTitle}}</h2>
		{{pageExplanation}}
	
		<div>
			<h3>{{selectFilesHeader}} <small><a ng-click="showSupportedFormats()">Supported sequence file formats <i class="glyphicon glyphicon-link"></i></a></small></h3> 			
			<p></p>			
			<div class="row">
				<div class="col-md-6">
					<div ng-show="uploader.isHTML5">
						<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
						<div nv-file-drop="" uploader="uploader">
							<div nv-file-over="" uploader="uploader"
								over-class="another-file-over-class" class="well my-drop-zone">
								<p align="center">{{dropZoneText}}</p>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-md-6">
					<p>{{browseAndSelectHeader}}</p>
					<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
					<label class="btn btn-primary" for="my-file-selector"> <input
						id="my-file-selector" type="file" nv-file-select=""
						uploader="uploader" multiple style="display: none;">
						{{selectFilesButtonText}}
					</label>
				</div>
			</div>
	
			<div>
				<h3>File queue</h3>
				<!-- <p>Queue length: {{ uploader.queue.length }}</p> -->
	
				<table class="table">
					<thead>
						<tr>
							<th width="50%">File</th>
							<th ng-show="uploader.isHTML5">Size</th>
							<!-- <th ng-show="uploader.isHTML5">Progress</th> -->
							<!-- <th>Format</th> -->
							<th>Alignment</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<!-- <td ng-show="uploader.isHTML5">
	                                    <div class="progress" style="margin-bottom: 0;">
	                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	                                    </div>
	                                </td> -->
							<!--  <td><select name="singleSelect" ng-model="item.format">
									<option value="">{{autoDetectFormat}}</option>
									<option ng-repeat="seqFormat in sequenceFormats" value="{{seqFormat}}">{{seqFormat}}</option>
							</select></td>
							-->
							<td><select name="singleSelect" ng-model="item.alignmentName" 
								ng-disabled="item.isUploading || item.isSuccess">
									<option value="{{headerDetectAlmtName}}" selected="selected">{{headerDetectAlmtName}}</option>
									<option ng-repeat="almtName in alignmentNames" value="{{almtName}}">{{almtName}}</option>
							</select></td>
							<td class="text-center">
								<span ng-show="item.isSuccess">
									<i class="glyphicon glyphicon-ok"></i>
								</span> 
								<span ng-show="item.isCancel">
									<i class="glyphicon glyphicon-ban-circle"></i>
								</span>
								<span ng-show="item.isUploading">
									<i class="glyphicon glyphicon-transfer"></i>
								</span>
								<span ng-show="item.isError">
									<i class="glyphicon glyphicon-remove"></i>
								</span></td>
							<td nowrap>
								<button type="button" class="btn btn-success btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Submit
								</button>
							<!-- 	<button type="button" class="btn btn-warning btn-xs"
									ng-click="item.cancel()" ng-disabled="!item.isUploading">
									<span class="glyphicon glyphicon-ban-circle"></span> Cancel
								</button>  -->
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="showAnalysisResults(item)" ng-disabled="!item.isSuccess">
									<span class="glyphicon glyphicon-list"></span> Analysis
								</button>
								<button type="button" class="btn btn-danger btn-xs"
									ng-click="removeItem(item)">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>
	
				<div>
					<!-- 
	                        <div>
	                            Queue progress:
	                            <div class="progress" style="">
	                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
	                            </div>
	                        </div>
	                    -->
					<button type="button" class="btn btn-success btn-s"
						ng-click="uploader.uploadAll()"
						ng-disabled="!uploader.getNotUploadedItems().length">
						<span class="glyphicon glyphicon-upload"></span> Submit all
					</button>
					<!-- <button type="button" class="btn btn-warning btn-s"
						ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
					</button>  -->
					<button type="button" class="btn btn-danger btn-s"
						ng-click="removeAll()"
						ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all
					</button>
				</div>
	
			</div>
	
			<div ng-show="analysisResults">
				<h3>Anaylsis: {{analysisResults.file.name}}</h3>
				<div ng-repeat="sequenceResult in analysisResults.transientAnalysisResult.sequenceResult" 
						ng-controller="analysisResultsCtrl">
					<h4>{{sequenceResult.sequenceID}} <small><a ng-click="showAlignmentDetails(sequenceResult)">Coverage details <i class="glyphicon glyphicon-link"></i></a></small></h4>
				<table class="table table-nonfluid">
					<thead>
						<tr>
							<th>Difference view</th>
							<th ng-show="sequenceResult.differenceView == 'genomeDetail'">Reference sequence</th>
							<th ng-show="sequenceResult.differenceView == 'genomeDetail'">Genome feature</th>
							<th ng-show="sequenceResult.differenceView == 'genomeDetail'"></th>
							<th ng-show="sequenceResult.differenceView == 'genomeDetail'">Nucleotides</th>
							<th ng-show="sequenceResult.differenceView == 'genomeDetail'">Minority variants</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>
							<div class="btn-group">
						        <label class="btn btn-primary btn-xs" ng-model="sequenceResult.differenceView" btn-radio="'differenceSummary'">Summary</label>
						        <label class="btn btn-primary btn-xs" ng-model="sequenceResult.differenceView" btn-radio="'genomeDetail'">Detail</label>
	    					</div>
						</td>
						<td ng-show="sequenceResult.differenceView == 'genomeDetail'">
							<select name="singleSelect" ng-model="sequenceResult.selectedReference">
								<option ng-repeat="referenceOption in referenceOptions" value="{{referenceOption}}">{{referenceOption}}</option>
							</select>
						</td>
						<td ng-show="sequenceResult.differenceView == 'genomeDetail'">
							{{sequenceResult.selectedFeature.featureDescription}}
						</td>
						<td ng-show="sequenceResult.differenceView == 'genomeDetail'">
							<button type="button" ng-disabled="sequenceResult.selectedReference == noneSelected" class="btn btn-primary btn-xs" ng-disabled="featureAnalysisTree" ng-click="selectGenomeFeature(sequenceResult)">
									Select
							</button>
						</td>
						<td ng-show="sequenceResult.differenceView == 'genomeDetail'">
							<div class="btn-group">
						        <label class="btn btn-primary btn-xs" ng-model="sequenceResult.showNucleotides" btn-radio="'show'">Show</label>
						        <label class="btn btn-primary btn-xs" ng-model="sequenceResult.showNucleotides" btn-radio="'hide'">Hide</label>
	    					</div>
						</td>
						<td ng-show="sequenceResult.differenceView == 'genomeDetail'">
							<div class="btn-group">
						        <label class="btn btn-primary btn-xs" ng-model="sequenceResult.showMinorityVariants" btn-radio="'show'">Show</label>
						        <label class="btn btn-primary btn-xs" ng-model="sequenceResult.showMinorityVariants" btn-radio="'hide'">Hide</label>
	    					</div>
						</td>
						</tr>
					</tbody>
				</table>
				
				
				<table ng-show="sequenceResult.differenceView == 'differenceSummary'" class="table" >
					<thead>
						<tr>
							<th>Reference sequence</th>
							<th>Genome feature</th>
							<th>Differences</th>
						</tr>
					</thead>
				  	<tbody>
					  	<tr ng-repeat="diffSummary in sequenceResult.alignmentDifferenceSummaries">
					  		<td ng-show="diffSummary.rowspan" rowspan="{{diffSummary.rowspan}}">{{diffSummary.referenceName}}</td>
					  		<td><a ng-click="switchToDetailView(diffSummary.referenceName, diffSummary.featureName)">{{diffSummary.featureName}} <i class="glyphicon glyphicon-link"></i></a></td>
					  		<td><span class="{{foundVariation.differenceStyle}}" ng-repeat="foundVariation in diffSummary.foundVariations">{{foundVariation.name}} </span></td>
					  	</tr>
				  	</tbody>
				</table>
				<table ng-show="sequenceResult.differenceView == 'genomeDetail'" class="table analysisSequenceTable" >
				  	<tbody ng-repeat="analysisSequenceRow in sequenceResult.analysisSequenceRows track by $index">
					  	<tr class="analysisSequenceReferenceAAIndex">
					  		<td colspan=3 ng-repeat="referenceAAIndex in analysisSequenceRow.referenceAAIndices track by $index">{{referenceAAIndex}}</td>
					  	</tr>
					  	<tr class="analysisSequenceReferenceAA">
					  		<td colspan=3 ng-repeat="referenceAA in analysisSequenceRow.referenceAAs track by $index">{{referenceAA}}</td>
					  	</tr>
					  	<tr ng-show="sequenceResult.showNucleotides == 'show'" class="analysisSequenceReferenceNT">
					  		<td ng-repeat="referenceNT in analysisSequenceRow.referenceNTs track by $index">{{referenceNT}}</td>
					  	</tr>
					  	<tr ng-show="sequenceResult.showNucleotides == 'show'" class="analysisSequenceReferenceNTIndex">
					  		<td ng-repeat="referenceNTIndex in analysisSequenceRow.referenceNTIndices track by $index"><div>{{referenceNTIndex}}</div></td>
					  	</tr>


					  	<tr class="analysisSequenceQueryAA">
					  		<td class="{{analysisSequenceRow.queryAADifferenceStyle[$index]}}" colspan=3 ng-repeat="queryAA in analysisSequenceRow.queryAAs track by $index">{{queryAA}}</td>
					  	</tr>
					  	<tr ng-show="sequenceResult.showNucleotides == 'show'" class="analysisSequenceQueryNT">
					  		<td class="{{analysisSequenceRow.queryNTDifferenceStyle[$index]}}" ng-repeat="queryNT in analysisSequenceRow.queryNTs track by $index">{{queryNT}}</td>
					  	</tr>
					  	<tr ng-show="sequenceResult.showMinorityVariants == 'show'" class="analysisSequenceMinorityVariantAA" ng-show="analysisSequenceRow.minorityVariantAAs">
					  		<td colspan=3 ng-repeat="minorityVariantAA in analysisSequenceRow.minorityVariantAAs track by $index">{{minorityVariantAA}}<sup>{{analysisSequenceRow.minorityVariantAAProportions[$index]}}</sup></td>
					  	</tr>
					  	<tr ng-show="sequenceResult.showNucleotides == 'show'" class="analysisSequenceQueryNTIndex">
					  		<td ng-repeat="queryNTIndex in analysisSequenceRow.queryNTIndices track by $index"><div>{{queryNTIndex}}</div></td>
					  	</tr>
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
</div>