
<h2>{{installationMenuTitle}}</h2>

There are two alternative modes for installing command-line GLUE, <a ng-click="scrollTo('dockerInstall')">Docker-based installation</a> and  
<a ng-click="scrollTo('nativeInstall')">Native installation</a>. 

<h3 id="dockerInstall">Docker-based installation</h3>
<p>
<a target="_blank" href="https://www.docker.com/">Docker</a> is a platform which allows you to run software in the form of lightweight "containers".
GLUE can be installed in the form of Docker containers. We would recommend this route in most circumstances as it offers a quick and less 
error-prone set-up. Also, GLUE will be isolated from other software on the computer and the operation of GLUE should generally be more predictable.
</p>
<ol>
	<li><a ng-click="scrollTo('installDocker')">Install Docker</a></li>
	<li><a ng-click="scrollTo('learnDocker')">Familiarise yourself with some Docker concepts</a></li>
	<li><a ng-click="scrollTo('howDockerGlueWorks')">How Docker-based GLUE works</a></li>
	<li><a ng-click="scrollTo('gluetoolsMySQLcontainer')">Set up a <tt>gluetools-mysql</tt> container</a></li>
	<li><a ng-click="scrollTo('gluetoolsContainer')">Set up a <tt>gluetools</tt> container</a></li>
	<li><a ng-click="scrollTo('hintsAndTips')">Hints and tips for Docker-based GLUE</a></li>
	<li><a ng-click="scrollTo('nextSteps1')">Next steps</a></li>
</ol>	

<h4 id="installDocker">Install Docker</h4>
	<a href="https://store.docker.com/search?type=edition&offering=community" target="_blank">Docker Engine Community Edition</a> 
	is the software that manages Docker containers. It is available for Mac OSX, Windows and various Linux distributions. 
	GLUE has been tested on Docker Engine version 18.06. 
<h4 id="learnDocker">Familiarise yourself with some Docker concepts</h4>
	If you are unfamiliar with Docker, you need to learn a few basic concepts. We would recommend at least reading through chapters 1 and 2 of the 
	<a href="https://docs.docker.com/get-started/" target="_blank">Get Started with Docker</a> guide.

<h4 id="howDockerGlueWorks">How Docker-based GLUE works</h4>
<p>
GLUE is packaged into two Docker images. The
<code>cvrbioinformatics/gluetools-mysql</code>
image provides the MySQL database which GLUE will use and some
scripts for updating it. A container based on this image provides GLUE
with its persistent database storage, and runs in the background as a daemon.
</p>
<p>
The <code>cvrbioinformatics/gluetools</code>
image provides the GLUE engine software itself plus its 3rd-party dependencies
such as RAxML and MAFFT. Containers based on this image will be run in a transient way, 
each time a GLUE interactive session is run. 
</p>
<h4 id="gluetoolsMySQLcontainer">Set up a <tt>gluetools-mysql</tt> container</h4>
<p>
Pull the <code>cvrbioinformatics/gluetools-mysql</code> image from Docker Hub:
<div hljs language="bash" no-escape>
$ docker pull cvrbioinformatics/gluetools-mysql:latest
</div>
</p>
<p>
Start a container called <code>gluetools-mysql</code> based on this image:
<div hljs language="bash" no-escape>
$ docker run --detach --name gluetools-mysql cvrbioinformatics/gluetools-mysql:latest
</div>
The container was started in detached mode, it runs in the background as a daemon. 
</p>
<h4 id="gluetoolsContainer">Set up a <tt>gluetools</tt> container</h4>
<p>
Pull the <code>cvrbioinformatics/gluetools</code> image from Docker Hub:
<div hljs language="bash" no-escape>
$ docker pull cvrbioinformatics/gluetools:latest
</div>
</p>
<p>
Start a container called <code>gluetools</code> based on this image, linking it to the <code>gluetools-mysql</code> container.
<div hljs language="bash" no-escape>
$ docker run --rm -it --name gluetools --link gluetools-mysql cvrbioinformatics/gluetools:latest
</div>
</p>
<p>
This will start an interactive GLUE session within the new container:
<pre>
GLUE Version 1.1.113
Copyright (C) 2018 The University of Glasgow
This program comes with ABSOLUTELY NO WARRANTY. This is free software, and you
are welcome to redistribute it under certain conditions. For details see
GNU Affero General Public License v3: http://www.gnu.org/licenses/

Mode path: /
Option load-save-path: /opt/gluetools/projects/exampleProject
GLUE>
...
</pre>
When the interactive session completes, the container will be removed (via the <code>--rm</code> option).
</p>


<h4 id="hintsAndTips">Hints and tips for Docker-based GLUE</h4>
<ul>
<li> <b>Starting and stopping the <tt>gluetools-mysql</tt> container</b>
<p>
The <code>gluetools-mysql</code> container contains the GLUE database which you normally want to keep in place from one GLUE interactive session to the next. 
When you restart your computer this container will be in a "stopped" state. To start it again use:
<div hljs language="bash" no-escape>
$ docker start gluetools-mysql
</div>
You can stop it with:
<div hljs language="bash" no-escape>
$ docker stop gluetools-mysql
</div>
If you remove this container, your database contents will be lost.
</p>
</li>
<li> <b>Install a pre-built GLUE dataset in the <tt>gluetools-mysql</tt> container</b>
<p>
While the <code>gluetools-mysql</code> container is running, you can install various pre-built GLUE projects. 
For example, the latest NCBI-HCV-GLUE project build can be installed using this command:
<div hljs language="js" no-escape>
$ docker exec gluetools-mysql installGlueProject.sh ncbi_hcv_glue
</div>
<b>Note:</b> this command will wipe any previous data from the database.
</p>
</li>
<li> <b>Wipe the database in the <tt>gluetools-mysql</tt> container</b>
<p>
You can wipe the GLUE database using this command:
<div hljs language="js" no-escape>
$ docker exec gluetools-mysql glueWipeDatabase.sh
</div>
</p>
</li>
<li> <b>Volume mapping</b> 
<p>
Each Docker container has its own isolated file system, so by default files outside the container cannot be accessed by GLUE. 
Since the <code>gluetools</code> container is transient, its file system will be removed at the end of the GLUE session. 
</p>
<p>
If you want GLUE to read your own project data from a directory outside the container or save any file output, 
add the <code>--volume</code> option to the <code>docker run</code> command for the <code>gluetools</code> container. 
This maps a directory outside the container (i.e. on the host filesystem) to a path within container filesystem. For example, if you use 
<div hljs language="bash" no-escape>
--volume /home/fred/my_glue_project:/opt/gluetools/projects/my_glue_project
</div>
then the directory 
<code>/home/fred/my_glue_project</code> will be readable/writable inside the container at <code>/opt/gluetools/projects/my_glue_project</code>.
Multiple directories can be mapped with this option.
</p>
</li>
<li> <b>Working directory</b> 
<p>
The working directory for the <code>gluetools</code> container defaults to the example project directory. However this can be overridden by adding the following option to the <code>docker run</code> command:
<div hljs language="bash" no-escape>
$ --workdir /opt/gluetools/projects/my_glue_project
</div>
</p>
</li>
<li> <b>Use <tt>.gluerc</tt> and <tt>.glue_history</tt> files from the host file system</b> 
<p>
These files store your GLUE console preferences and command history. 
You may want to use <code>.gluerc</code> and <code>.glue_history</code> files from the host file system rather than the container file system. 
To do this, map your home directory using a <code>--volume</code> option in the <code>docker run</code> command:
<div hljs language="bash" no-escape>
--volume /home/fred:/home/fred
</div>
Then also add this <code>--env</code> option to the <code>docker run</code> command:
<div hljs language="bash" no-escape>
--env _JAVA_OPTIONS=-Duser.home=/home/fred 
</div>
</p>
</li>
<li> <b>Run bash in the container</b>
<p>
You can run an interactive bash session rather than 
a GLUE session in the container by simply adding <code>/bin/bash</code> to the end of the <code>docker run</code> command.
<div hljs language="bash" no-escape>
$ docker run --rm -it --name gluetools --link gluetools-mysql cvrbioinformatics/gluetools:latest /bin/bash
</div>
</p>
</li>
</ul>

<h4 id="nextSteps1">Next steps</h4>

If you are new to GLUE we strongly recommend building the <a href="#exampleProject">example GLUE project</a> as the next step. 
The example project directory is included within the container file system. 



<h3 id="nativeInstall">Native installation</h3>
<p>
You can install GLUE running directly on your system instead of in a container. 
This is a much more complex set up but might be preferential in some circumstances. 
The Native installation offers more control over the various software packages GLUE uses. 
The GLUE installation may take up less disk space and some GLUE operations may be faster.
</p>
<ol>
	<li><a ng-click="scrollTo('operatingSystems')">Supported operating systems</a></li>
	<li><a ng-click="scrollTo('java')">Core prerequisite: Java</a></li>
	<li><a ng-click="scrollTo('mySql')">Core prerequisite: MySQL</a></li>
	<li><a ng-click="scrollTo('installDirectory')">The GLUE install directory</a></li>
	<li><a ng-click="scrollTo('glueEngineJar')">The GLUE engine jar</a></a></li>
	<li><a ng-click="scrollTo('configFile')">The GLUE XML configuration file</a></li>
	<li><a ng-click="scrollTo('runCommandLine')">Running the GLUE command line</a></li>
	<li><a ng-click="scrollTo('upgradingGlue')">Upgrading GLUE</a></li>
	<li><a ng-click="scrollTo('blast')">Software integration: BLAST+</a></li>
	<li><a ng-click="scrollTo('mafft')">Software integration: MAFFT</a></li>
	<li><a ng-click="scrollTo('raxml')">Software integration: RAxML</a></li>
	<li><a ng-click="scrollTo('nextSteps')">Next steps</a></li>
</ol>


<h4 id="operatingSystems">Supported operating systems</h4>
<p>You can install native GLUE on MS Windows, Linux and Mac OSX.</p>
<p>If you are using Windows, you must also install Cygwin, which you can download from <a target="_blank" href="http://cygwin.org/">cygwin.org</a>.
</p>

<h4 id="java">Core prerequisite: Java</h4>

Download and install Oracle Java 1.8.0 or later, from <a target="_blank" href="http://www.java.com/">java.com</a>.

<p>
Make sure you can run the correct version of the "java" program from the command line:
<pre>$ java -version
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)
</pre>

<h4 id="mySql">Core prerequisite: MySQL</h4>

<p>GLUE stores all its data in a relational database system: MySQL. Download and install MySQL 5.6 or later, from <a target="_blank" href="http://www.mysql.com/">mysql.com</a>.</p>

<p>The GLUE uses a specific named database within MySQL and accesses this with a specific username/password.
So you would normally create a username/password and named database specifically for GLUE.
Example set up: </p>
<ul>
	<li>MySQL username: gluetools</li>
	<li>MySQL password: glue12345</li>
	<li>Database name: GLUE_TOOLS</li>
</ul>
<p>
You can use the following MySQL commands to set this up: </p>
<div hljs language="sql" no-escape>
mysql> create user 'gluetools'@'localhost' identified by 'glue12345';
mysql> create database GLUE_TOOLS character set UTF8;
mysql> grant all privileges on GLUE_TOOLS.* to 'gluetools'@'localhost';   
</div>
<p>Test that the new user/password works:</p>
<pre>
$ mysql -u gluetools --password=glue12345
Welcome to the MySQL monitor.  
Server version: 5.6.25 MySQL Community Server (GPL)

mysql>
</pre>

<p>In this MySQL session, test that the new named database works:</p>
<div hljs language="sql" no-escape>
mysql> use GLUE_TOOLS;

Database changed
</div>

<h4 id="installDirectory">The GLUE install directory</h4>

Your installation of GLUE will be contained within its own "install" directory.
Download the GLUE install zip from the <a target="_blank" href="#download">GLUE download page</a>.
Unzip the GLUE install zip file in a 
convenient location (e.g. <code>/home/fred</code>), to create a <code>gluetools</code> directory.

Ensure that the path to the <code>gluetools</code> directory is stored in the environment variable
<code>GLUE_HOME</code>. Also make sure that <code>${GLUE_HOME}/bin</code> is on your bash path.

This can be done for example by adding these lines to the end of your <code>.bash_profile</code> file (Mac / Cygwin), <code>.profile</code> or <code>.bashrc</code> file (Linux).
<div hljs language="bash" no-escape>
export GLUE_HOME=/home/fred/gluetools
export PATH=${PATH}:${GLUE_HOME}/bin
</div>

Make sure the bash script is executable:
<pre>
$ chmod u+x /home/fred/gluetools/bin/gluetools.sh
</pre>

<h4 id="glueEngineJar">The GLUE engine jar</h4>

<p>Download the GLUE engine jar file from the <a target="_blank" href="#download">GLUE download page</a>. 
Place it inside the <code>gluetools/lib</code> directory.</p>

<h4 id="configFile">The GLUE XML configuration file</h4>

GLUE reads a configuration XML file each time it runs. The role of this file is to make GLUE aware of its local installation. 
So, you will need to edit this file to adapt it to your local GLUE installation.
<p>In a text editor, load the XML file <code>gluetools/conf/gluetools-config.xml</code>. 
You will need to make sure that the database section specifies the correct MySQL username, password and database name as necessary, by editing the contents of the 
<code>&lt;username&gt;</code>, <code>&lt;password&gt;</code> and <code>&lt;jdbcUrl&gt;</code> elements.
<div hljs source="basicConfig"></div>
</p>		
<p>		
For Windows / Cygwin, you must also add a property showing GLUE where to find the <code>sh</code> executable:
<div hljs source="cygwinConfig"></div>
</p>
 		
<h4 id="runCommandLine">Running the GLUE command line</h4>
<p>GLUE has an interactive command line, this is an important tool for GLUE users. 
We can now test that this works by running <code>gluetools.sh</code></p>
<pre>
$ gluetools.sh
GLUE version 1.1.113
Mode path: /
GLUE> 
...
</pre>

Use the <non-mode-command command="quit"></non-mode-command> command to leave the GLUE interpreter.

<h4 id="upgradingGlue">Upgrading GLUE</h4>
At some point in the future you may wish to upgrade your installation to a new version of GLUE.
Normally this is done as follows:
<ul>
	<li>Download a new version of the engine jar from the <a target="_blank" href="#download">GLUE download page</a></li>
	<li>Place the new version in the <code>gluetools/lib</code> directory.</li>
	<li>Delete the old version from the <code>gluetools/lib</code> directory.</li>
</ul> 

<h4 id="blast">Software integration: BLAST+</h4>
<p>GLUE uses the BLAST+ suite of programs for auto-alignment and certain other features.</p>
<p>Download and install BLAST+ 2.2.31 from 
<a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/2.2.31/">NCBI's BLAST+ FTP page</a>. 
GLUE may function correctly with later versions of BLAST+ but this has not been fully tested. 
In the case of Mac OSX you should use the 'universal-macosx' BLAST+ distribution.</p>

<p>To integrate BLAST+ into GLUE, load the XML file <code>gluetools/conf/gluetools-config.xml</code> in a text editor. </p>
<ul>
	<li>Specify the location of the blast executables <code>blastn</code>, <code>tblastn</code> and <code>makeblastdb</code></li>
	<li>GLUE creates BLAST databases and certain other temporary files. Specify two directories, where GLUE can store these files</li>
</ul>

<div hljs source="blastConfig"></div>


<h4 id="mafft">Software integration: MAFFT</h4>
<p>GLUE uses MAFFT as part of its maximum likelihood genotyping procedure, and other uses are possible.</p>
<p>Download MAFFT from the <a target="_blank" href="http://mafft.cbrc.jp/alignment/software/">CBRC MAFFT page</a> and install it locally.</p>

<p>To integrate MAFFT into GLUE, load the XML file <code>gluetools/conf/gluetools-config.xml</code> in a text editor. </p>
<ul>
	<li>Specify the location of the MAFFT executable</li>
	<li>GLUE creates temporary MAFFT files. Specify a directory where GLUE can store these files</li>
</ul>

<div hljs source="mafftConfig"></div>

<h4 id="raxml">Software integration: RAxML</h4>
<p>GLUE uses RAxML as part of its maximum likelihood genotyping procedure, and for general phylogenetics.</p>
<p>We suggest RAxML be compiled locally so that it is optimised for your hardware. 
Instructions can be found at the <a target="_blank" href="https://sco.h-its.org/exelixis/web/software/raxml/index.html">Exelixis Lab RAxML page</a>.</p>

<p>To integrate RAxML into GLUE, load the XML file <code>gluetools/conf/gluetools-config.xml</code> in a text editor. </p>
<ul>
	<li>Specify the location of the RAxML executable</li>
	<li>GLUE creates temporary RAxML files. Specify a directory where GLUE can store these files</li>
</ul>

<div hljs source="raxmlConfig"></div>

<h4 id="nextSteps">Next steps</h4>

If you are new to GLUE we strongly recommend downloading and building the <a href="#exampleProject">example GLUE project</a> as the next step.

