<h2>{{installationMenuTitle}}</h2>

<ol>
	<li><a ng-click="scrollTo('operatingSystems')">Supported operating systems</a></li>
	<li><a ng-click="scrollTo('java')">Core prerequisite: Java</a></li>
	<li><a ng-click="scrollTo('mySql')">Core prerequisite: MySQL</a></li>
	<li><a ng-click="scrollTo('installDirectory')">The GLUE install directory</a></li>
	<li><a ng-click="scrollTo('glueEngineJar')">The GLUE engine jar</a></a></li>
	<li><a ng-click="scrollTo('configFile')">The GLUE XML configuration file</a></li>
	<li><a ng-click="scrollTo('runCommandLine')">Running the GLUE command line</a></li>
	<li><a ng-click="scrollTo('upgradingGlue')">Upgrading GLUE</a></li>
	<li><a ng-click="scrollTo('blast')">Software integration: BLAST+</a></li>
	<li><a ng-click="scrollTo('mafft')">Software integration: MAFFT</a></li>
	<li><a ng-click="scrollTo('raxml')">Software integration: RAxML</a></li>
	<li><a ng-click="scrollTo('nextSteps')">Next steps</a></li>
</ol>

<h3 id="operatingSystems">Supported operating systems</h3>
<p>You can install GLUE on MS Windows, Linux and Mac OSX.</p>
<p>If you are using Windows, you must also install Cygwin, which you can download from <a target="_blank" href="http://cygwin.org/">cygwin.org</a>.
</p>

<h3 id="java">Core prerequisite: Java</h3>

Download and install Oracle Java 1.8.0 or later, from <a target="_blank" href="http://www.java.com/">java.com</a>.

<p>
Make sure you can run the correct version of the "java" program from the command line:
<pre>$ java -version
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)
</pre>

<h3 id="mySql">Core prerequisite: MySQL</h3>

<p>GLUE stores all its data in a relational database system: MySQL. Download and install MySQL 5.6 or later, from <a target="_blank" href="http://www.mysql.com/">mysql.com</a>.</p>

<p>The GLUE uses a specific named database within MySQL and accesses this with a specific username/password.
So you would normally create a username/password and named database specifically for GLUE.
Example set up: </p>
<ul>
	<li>MySQL username: gluetools</li>
	<li>MySQL password: glue12345</li>
	<li>Database name: GLUE_TOOLS</li>
</ul>
<p>
You can use the following MySQL commands to set this up: </p>
<div hljs language="sql" no-escape>
mysql> create user 'gluetools'@'localhost' identified by 'glue12345';
mysql> create database GLUE_TOOLS character set UTF8;
mysql> grant all privileges on GLUE_TOOLS.* to 'gluetools'@'localhost';   
</div>
<p>Test that the new user/password works:</p>
<pre>
$ mysql -u gluetools --password=glue12345
Welcome to the MySQL monitor.  
Server version: 5.6.25 MySQL Community Server (GPL)

mysql>
</pre>

<p>In this MySQL session, test that the new named database works:</p>
<div hljs language="sql" no-escape>
mysql> use GLUE_TOOLS;

Database changed
</div>

<h3 id="installDirectory">The GLUE install directory</h3>

Your installation of GLUE will be contained within its own "install" directory.
Download the GLUE install zip from the <a target="_blank" href="#download">GLUE download page</a>.
Unzip the GLUE install zip file in a 
convenient location (e.g. <code>/home/fred</code>), to create a <code>gluetools</code> directory.

Ensure that the path to the <code>gluetools</code> directory is stored in the environment variable
<code>GLUE_HOME</code>. Also make sure that <code>${GLUE_HOME}/bin</code> is on your bash path.

This can be done for example by adding these lines to the end of your <code>.bash_profile</code> file (Mac / Cygwin), <code>.profile</code> or <code>.bashrc</code> file (Linux).
<div hljs language="bash" no-escape>
export GLUE_HOME=/home/fred/gluetools
export PATH=${PATH}:${GLUE_HOME}/bin
</div>

Make sure the bash script is executable:
<pre>
$ chmod u+x /home/fred/gluetools/bin/gluetools.sh
</pre>

<h3 id="glueEngineJar">The GLUE engine jar</h3>

<p>Download the GLUE engine jar file from the <a target="_blank" href="#download">GLUE download page</a>. 
Place it inside the <code>gluetools/lib</code> directory.</p>

<h3 id="configFile">The GLUE XML configuration file</h3>

GLUE reads a configuration XML file each time it runs. The role of this file is to make GLUE aware of its local installation. 
So, you will need to edit this file to adapt it to your local GLUE installation.
<p>In a text editor, load the XML file <code>gluetools/conf/gluetools-config.xml</code>. 
You will need to make sure that the database section specifies the correct MySQL username, password and database name as necessary, by editing the contents of the 
<code>&lt;username&gt;</code>, <code>&lt;password&gt;</code> and <code>&lt;jdbcUrl&gt;</code> elements.
<div hljs source="basicConfig"></div>
</p>		
<p>		
For Windows / Cygwin, you must also add a property showing GLUE where to find the <code>sh</code> executable:
<div hljs source="cygwinConfig"></div>
</p>
 		
<h3 id="runCommandLine">Running the GLUE command line</h3>
<p>GLUE has an interactive command line, this is an important tool for GLUE users. 
We can now test that this works by running <code>gluetools.sh</code></p>
<pre>
$ gluetools.sh
GLUE version 0.1.136
Mode path: /
GLUE> 
...
</pre>

Use the <non-mode-command command="quit"></non-mode-command> command to leave the GLUE interpreter.

<h3 id="upgradingGlue">Upgrading GLUE</h3>
At some point in the future you may wish to upgrade your installation to a new version of GLUE.
Normally this is done as follows:
<ul>
	<li>Download a new version of the engine jar from the <a target="_blank" href="#download">GLUE download page</a></li>
	<li>Place the new version in the <code>gluetools/lib</code> directory.</li>
	<li>Delete the old version from the <code>gluetools/lib</code> directory.</li>
</ul> 

<h3 id="blast">Software integration: BLAST+</h3>
<p>GLUE uses the BLAST+ suite of programs for auto-alignment and certain other features.</p>
<p>Download and install BLAST+ 2.2.31 from 
<a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/2.2.31/">NCBI's BLAST+ FTP page</a>. 
GLUE may function correctly with later versions of BLAST+ but this has not been fully tested. 
In the case of Mac OSX you should use the 'universal-macosx' BLAST+ distribution.</p>

<p>To integrate BLAST+ into GLUE, load the XML file <code>gluetools/conf/gluetools-config.xml</code> in a text editor. </p>
<ul>
	<li>Specify the location of the blast executables <code>blastn</code>, <code>tblastn</code> and <code>makeblastdb</code></li>
	<li>GLUE creates BLAST databases and certain other temporary files. Specify two directories, where GLUE can store these files</li>
</ul>

<div hljs source="blastConfig"></div>


<h3 id="mafft">Software integration: MAFFT</h3>
<p>GLUE uses MAFFT as part of its maximum likelihood genotyping procedure, and other uses are possible.</p>
<p>Download MAFFT from the <a target="_blank" href="http://mafft.cbrc.jp/alignment/software/">CBRC MAFFT page</a> and install it locally.</p>

<p>To integrate MAFFT into GLUE, load the XML file <code>gluetools/conf/gluetools-config.xml</code> in a text editor. </p>
<ul>
	<li>Specify the location of the MAFFT executable</li>
	<li>GLUE creates temporary MAFFT files. Specify a directory where GLUE can store these files</li>
</ul>

<div hljs source="mafftConfig"></div>

<h3 id="raxml">Software integration: RAxML</h3>
<p>GLUE uses RAxML as part of its maximum likelihood genotyping procedure, and for general phylogenetics.</p>
<p>We suggest RAxML be compiled locally so that it is optimised for your hardware. 
Instructions can be found at the <a target="_blank" href="https://sco.h-its.org/exelixis/web/software/raxml/index.html">Exelixis Lab RAxML page</a>.</p>

<p>To integrate RAxML into GLUE, load the XML file <code>gluetools/conf/gluetools-config.xml</code> in a text editor. </p>
<ul>
	<li>Specify the location of the RAxML executable</li>
	<li>GLUE creates temporary RAxML files. Specify a directory where GLUE can store these files</li>
</ul>

<div hljs source="raxmlConfig"></div>

<h3 id="nextSteps">Next steps</h3>

If you are new to GLUE we strongly recommend downloading and building the <a href="#exampleProject">example GLUE project</a> as the next step.

