

<!-- 1. nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
<div ng-app="analysisTool">

	<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
		<h2>Sequence file analysis</h2>
		<div>
			<div>
	
				<table class="table" width="100%">
					<thead>
						<tr>
							<th>File</th>
							<th ng-show="uploader.isHTML5">Size</th>
							<th>Variation categories</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<td>
								<div style="float:left; padding-right:10px;">
									<div style="display:table;">
										<div style="display:table-row;" ng-repeat="vCat in item.variationCategorySelection" >
											<svg width="40px" height="22px" style="display:table-cell; padding-right:5px">
												<defs>
											        <pattern id="pattern-stripe-diag" 
											          width="4" height="4" 
											          patternUnits="userSpaceOnUse"
											          patternTransform="rotate(45)">
											          <rect width="2" height="4" transform="translate(0,0)" fill="white"></rect>
											        </pattern>
											        <mask id="mask-stripe-diag">
											          <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe-diag)" />
											        </mask>      
											        <pattern id="pattern-stripe-vertical" 
											          width="4" height="4" 
											          patternUnits="userSpaceOnUse"
											          patternTransform="rotate(0)">
											          <rect width="2" height="4" transform="translate(0,0)" fill="white"></rect>
											        </pattern>
											        <mask id="mask-stripe-vertical">
											          <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe-vertical)" />
											        </mask>      
												</defs>
												<rect class="vcat_{{vCat.name}}" y="15%" width="100%" height="70%"></rect>
												<rect y="15%" width="100%" height="70%" fill="none" stroke="rgb(0,0,0)"></rect>
											</svg>
											<div style="display:table-cell; vertical-align: middle;">{{vCat.displayName}}</div>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="selectVariationCategories(item)" 
									ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-list"></span> Select
								</button>
							</td>
							<td>
								<span ng-show="item.isSuccess">
									<i class="glyphicon glyphicon-ok"></i>
								</span> 
								<span ng-show="item.isCancel">
									<i class="glyphicon glyphicon-ban-circle"></i>
								</span>
								<span ng-show="item.isUploading">
									<i class="glyphicon glyphicon-transfer"></i>
								</span>
								<span ng-show="item.isError">
									<i class="glyphicon glyphicon-remove"></i>
								</span></td>
							<td nowrap>
								<button type="button" class="btn btn-success btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Submit
								</button>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="showAnalysisResults(item)" ng-disabled="!item.isSuccess">
									<span class="glyphicon glyphicon-list"></span> Show analysis
								</button>
								<button type="button" class="btn btn-danger btn-xs"
									ng-click="removeItem(item)">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>
	
				<div>
					<label class="btn btn-primary" for="my-file-selector"> <input
						id="my-file-selector" type="file" nv-file-select=""
						uploader="uploader" multiple style="display: none;">
						<span class="glyphicon glyphicon-plus-sign"></span> Add files
					</label>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="seqPrepDialog()">
						<span class="glyphicon glyphicon-info-sign"></span> File preparation
					</button>
					<button type="button" class="btn btn-success btn-s"
						ng-click="uploader.uploadAll()"
						ng-disabled="!uploader.getNotUploadedItems().length">
						<span class="glyphicon glyphicon-upload"></span> Submit all files
					</button>
					<button type="button" class="btn btn-danger btn-s"
						ng-click="removeAll()"
						ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all files
					</button>
				</div>
	
			</div>
	
			<div ng-show="fileItemUnderAnalysis">
				<h3>Analysis</h3>
				<table class="table" width="100%">
					<thead>
						<tr>
							<th>File</th>
							<th>Query sequence</th>
							<th>Reference sequence</th>
							<th>Genome feature</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{fileItemUnderAnalysis.file.name}}</td>
							<td>
								<select ng-model="selectedQueryAnalysis" 
									ng-options="queryAnalysis.fastaId for queryAnalysis in fileItemUnderAnalysis.webAnalysisResult.queryAnalysis"
									>
							    </select>
							</td>
							<td>
								<select ng-model="selectedRefName" 
									ng-options="x for x in selectedQueryAnalysis.ancestorRefName"
									>
							    </select>
							</td>
							<td>
								<select ng-model="selectedFeatureAnalysis" 
									ng-options="featureAnalysis.featureName for featureAnalysis in fileItemUnderAnalysis.webAnalysisResult.featureAnalysis"
									>
							    </select>
							
							</td>
						</tr>
					</tbody>
				</table>
				<div class="container">
					<div class="row" ng-controller='analysisSvg'>
				        <div class="col-xs-2">
							<svg ng-attr-height="{{svgHeight()}}">
								 <sequence-label sequence-label="selectedRefName" svg-params="svgParams" sequence-index="0"> </sequence-label>
								 <sequence-label sequence-label="'Query'" svg-params="svgParams" sequence-index="1"> </sequence-label>
							</svg>
				        </div>
				        <div class="col-xs-10">
				        	<div style="overflow: auto">
								<svg 
									ng-attr-height="{{svgHeight()}}" 
									ng-attr-width="{{svgWidth()}}">
									<codon-label-line svg-params="svgParams" 
											selected-feature-analysis="selectedFeatureAnalysis"></codon-label-line>
									<reference-sequence svg-params="svgParams" 
											selected-feature-analysis="selectedFeatureAnalysis"
											selected-ref-feat-analysis="selectedRefFeatAnalysis"
											sequence-index="0"></reference-sequence>
									<query-sequence svg-params="svgParams" 
											selected-feature-analysis="selectedFeatureAnalysis"
											selected-ref-name="selectedRefName"
											selected-query-feat-analysis="selectedQueryFeatAnalysis"
											sequence-index="1"></query-sequence>
								</svg>
					        </div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>