<div class="modal-header">
	<h2 class="modal-title">Select variation categories</h2>
	Specify what classes of variation will be highlighted in the analysis of query sequences.
	<div class="row" width="800px">
		<div class="col-md-6">
			<h4>Available categories</h4>
			<div style="overflow: auto; height:400px">
				<table class="table">
					<tbody>
						<tr ng-repeat="vCat in data.available">
							<td>
								<div style="display:table">
									<div style="display:table-row">
										<svg width="40px" height="22px" style="display:table-cell; padding-right:5px">
											<svg-defs></svg-defs>
											<rect ng-attr-class="vcat_{{vCat.name}}" y="15%" width="100%" height="70%"></rect>
											<rect y="15%" width="100%" height="70%" fill="none" stroke="rgb(0,0,0)"></rect>
										</svg>
										<div style="display:table-cell" class="variationCategory">{{vCat.displayName}}</div>
									</div>
								</div>
								<div>{{vCat.description}}</div>
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="addToIncluded(vCat)"/>
									<span class="glyphicon glyphicon-arrow-right"></span> Include
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<h4>Included categories</h4>
			<div style="overflow: auto; height:400px">
				<table class="table">
					<tbody>
						<tr ng-repeat="vCat in data.included">
							<td>
								<div style="display:table">
									<div style="display:table-row">
										<svg width="40px" height="22px" style="display:table-cell; padding-right:5px">
											<svg-defs></svg-defs>
											<rect ng-attr-class="vcat_{{vCat.name}}" y="15%" width="100%" height="70%"></rect>
											<rect y="15%" width="100%" height="70%" fill="none" stroke="rgb(0,0,0)"></rect>
										</svg>
										<div style="display:table-cell" class="variationCategory">{{vCat.displayName}}</div>
									</div>
								</div>
								<div>{{vCat.description}}</div>
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="removeFromIncluded(vCat)"/>
									<span class="glyphicon glyphicon-arrow-left"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="accept()">OK</button>
	<button type="button" class="btn btn-cancel" ng-click="dismiss()">Cancel</button>
</div>
