<h2>{{buildYourOwnProjectMenuTitle}}</h2>

<p>
In this tutorial we will show how a GLUE project can be built up from scratch. 
We will use some data from the example project, but this will be an independent project.
Although this project will be very basic, following the tutorial should demonstrate some 
of the patterns and conventions which can be applied to more complex projects.
</p>

<ol>
	<li><a ng-click="scrollTo('directoryStructure')">The project directory structure</a></li>
	<li><a ng-click="scrollTo('initialElements')">The build file, project settings and schema extensions</a></li>
	<li><a ng-click="scrollTo('sequenceData')">Sequence nucleotide data and metadata</a></li>
	<li><a ng-click="scrollTo('referenceSequence')">A reference sequence, features and feature locations</a></li>
	<li><a ng-click="scrollTo('unconstrainedAlignment')">An unconstrained alignment</a></li>
</ol>

<h3 id="directoryStructure">The project directory structure</h3>

GLUE does not mandate any particular directory structure but you may find it useful to follow this convention.
Create the directory structure outlined below:
<pre>
demo
    alignments
    glue
    modules
    sources
    tabular
    trees
</pre>
<p>
The <code>demo</code> directory will contain everything required to build the project in GLUE. 
You may consider making this directory a single repository in a version control system such as GitHub.
</p>
<p>
The <p>alignments</p> directory will contain any file-based alignments

<h3 id="initialElements">The build file, project settings and schema extensions</h3>


<h3 id="sequenceData">Sequence nucleotide data and metadata</h3>


<h3 id="referenceSequence">A reference sequence, features and feature locations</h3>

<h3 id="unconstrainedAlignment">An unconstrained alignment</h3>