<div ng-show="renderResult" ng-app="projectBrowser">
	<h1>Alignment: {{renderResult.alignment.renderedName}}</h1>
	
	<div ng-show="renderResult.alignment.constrainingReference">
		<p>
			Constraining reference sequence: <a href="#project/reference/{{renderResult.alignment.constrainingReference.name}}">
			{{renderResult.alignment.constrainingReference.renderedName}}</a>
		</p>
		<p>
			Parent alignment: 
			<a ng-show="renderResult.alignment.parent" href="#project/alignment/{{renderResult.alignment.parent.name}}">
				{{renderResult.alignment.parent.renderedName}}
			</a>
			<span ng-show="!renderResult.alignment.parent">-</span>
		</p>
		<p>
			Child alignments: <span ng-show="!renderResult.alignment.child">None</span>
			<div ng-repeat="child in renderResult.alignment.child track by $index">
				<a href="#project/alignment/{{child.name}}">
					{{child.renderedName}}
				</a>
			</div>
		</p>
	</div>
	<div ng-show="!renderResult.alignment.constrainingReference"><p>Unconstrained</p></div>
	<h3>Alignment members</h3>	
	<span ng-show="!renderResult.alignment.memberSequence">None</span>
	<div ng-repeat="member in renderResult.alignment.memberSequence track by $index">
		<a href="#project/alignment/{{renderResult.alignment.name}}/member/{{member.sourceName}}/{{member.sequenceID}}">
			{{member.sourceName}}/{{member.sequenceID}}
		</a>
	</div>	
</div>