<div class="row">
	<div class="col-md-6">
		<treecontrol class="tree-light"
		   tree-model="featureTree"
		   expanded-nodes="expandedNodes"
		   selected-node="selectedNode"
		   options="treeOptions">
		   {{node.featureRenderedName}} 
		</treecontrol>
	</div>
	<div class="col-md-6">
		<p>{{selectedNode.featureDescription}}
		<span ng-show="selectedNode.featureMetatag.indexOf('CODES_AMINO_ACIDS') >= 0"><br/><small>Amino-acid coding region</small></span>
		</p>
		Nucleotide coordinates
		<span ng-show="selectedNode.referenceSegment.length == 0"><small>No nucleotide coordinates defined</small></span>
		<div ng-show="selectedNode.referenceSegment.length > 0">
			<small>Based directly on {{selectedNode.referenceRenderedName}}</small>
			<table class="table table-nonfluid table-striped table-bordered">
				<thead>
					<th>First nucleotide</th>
					<th>Last nucleotide</th>
				</thead>
				<tbody>
					<tr ng-repeat="refSeg in selectedNode.referenceSegment track by $index">
						<td>{{refSeg.refStart}}</td>
						<td>{{refSeg.refEnd}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="selectedNode.featureMetatag.indexOf('CODES_AMINO_ACIDS') >= 0">
			Codon numbering
			<div>
				<span ng-show="selectedNode.codonLabelingStrategy == 'direct' && selectedNode.featureMetatag.indexOf('OWN_CODON_NUMBERING') >= 0"><small>Based directly on {{selectedNode.referenceRenderedName}}</small><br/></span>
				<span ng-show="selectedNode.codonLabelingStrategy == 'kuiken2006' && selectedNode.featureMetatag.indexOf('OWN_CODON_NUMBERING') >= 0"><small>Based on homology with {{selectedNode.codonLabelingKuiken2006RootReferenceRenderedName}}, with insertions numbered 100a, 100b, etc.</small><br/></span>
				<span ng-show="selectedNode.featureMetatag.indexOf('OWN_CODON_NUMBERING') >= 0"><small>Codons are numbered from 1 at the start of the region</small></span>
				<span ng-show="selectedNode.codonNumberingAncestorFeatureName != null"><small>Codons are numbered according to position within {{selectedNode.codonNumberingAncestorFeatureName}}</small></span>
				<table class="table table-nonfluid table-striped table-bordered">
					<thead>
						<th>First codon</th>
						<th>Last codon</th>
					</thead>
					<tbody>
						<td>{{selectedNode.firstCodon}}</td>
						<td>{{selectedNode.lastCodon}}</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
