<div ng-cloak ng-app="hcvApp">
	<h2>{{drugId}}</h2>
	{{drugRenderResult.drug.category.displayName}}
	<br/>	
	{{drugRenderResult.drug.companyCode ? "Company code: "+drugRenderResult.drug.companyCode : ""}}
	<h4>Resistance Findings</h4>
	<div ng-show="!drugRenderResult.drug.drugResistanceFinding">
	No resistance findings collated
	</div>
	<table ng-show="drugRenderResult.drug.drugResistanceFinding.length > 0" 
		class="table table-nonfluid table-striped table-bordered">
		<thead>
			<th>Virus Protein</th>		
			<th>Resistant Substitution(s)</th>		
			<th>Clade</th>		
			<th>Study Type</th>		
			<th>EC<sub>50</sub> Fold Change</th>		
			<th>Reference</th>		
		</thead>
		<tbody>
			<tr ng-repeat="finding in drugRenderResult.drug.drugResistanceFinding track by $index">
				<td>{{finding.variationFeatureName}}</td>
				<td><a href="#project/rav/{{finding.variationReferenceSequence}}/{{finding.variationFeatureName}}/{{finding.variationName}}">{{finding.variationSubstitutions}}</a></td>
				<td>{{finding.clade}}</td>
				<td ng-show="finding.studyType == 'clinical'">Clinical</td>
				<td ng-show="finding.studyType == 'in_vitro'"><em>In vitro</em></td>
				<td ng-show="!finding.foldChange">N/A</td>
				<td ng-show="finding.foldChange">{{toFixed(finding.foldChange, 2)}}</td>
				<td><a href="#project/drug_resistance_publication/{{finding.publication.id}}">
					{{finding.publication.displayName}}</a></td>
			</tr>
		</tbody>
	</table>
	


</div>