<div ng-cloak ng-app="hcvApp">
	<h2>{{drPubRenderResult.drugPublication.displayName}}</h2>
		{{drPubRenderResult.drugPublication.authors}}
		<br/>
		<b>{{drPubRenderResult.drugPublication.title}}</b>
		<br/>
		<em>{{drPubRenderResult.drugPublication.publication}}</em>, {{drPubRenderResult.drugPublication.pubLocation}}, <b>{{drPubRenderResult.drugPublication.year}}</b>
		<br/>
		<a href="{{drPubRenderResult.drugPublication.webLink}}" target="_blank">View publication <span class="glyphicon glyphicon-link"></span></a>
	<h4>Resistance Findings</h4>
	<div ng-show="!drPubRenderResult.drugPublication.drugResistanceFinding">
	No resistance findings collated
	</div>
	<table ng-show="drPubRenderResult.drugPublication.drugResistanceFinding.length > 0" 
		class="table table-nonfluid table-striped table-bordered">
		<thead>
			<th>Drug</th>		
			<th>Virus Protein</th>		
			<th>Resistant Substitution(s)</th>		
			<th>Clade</th>		
			<th>Study Type</th>		
			<th>EC<sub>50</sub> Fold Change</th>		
		</thead>
		<tbody>
			<tr ng-repeat="finding in drPubRenderResult.drugPublication.drugResistanceFinding track by $index">
				<td><a href="#project/drug/{{finding.drugId}}">{{finding.drugId}}</a></td>
				<td>{{finding.variation.featureName}}</td>
				<td><a href="#project/rav/{{finding.variation.referenceSequence}}/{{finding.variation.featureName}}/{{finding.variation.variationName}}">{{finding.variation.substitutions}}</a></td>
				<td>{{finding.clade}}</td>
				<td ng-show="finding.studyType == 'clinical'">Clinical</td>
				<td ng-show="finding.studyType == 'in_vitro'"><em>In vitro</em></td>
				<td ng-show="!finding.foldChange">N/A</td>
				<td ng-show="finding.foldChange">{{toFixed(finding.foldChange, 2)}}</td>
			</tr>
		</tbody>
	</table>
	


</div>