<div ng-app="hcvApp">
	<h2>Direct-acting Antiviral (DAA) Drugs for HCV</h2>
	<p>
	HCV-GLUE analyses resistance to these DAA drugs. 
	</p>

	<table class="table table-nonfluid table-striped table-bordered">
		<thead>
			<th>Drug</th>		
			<th>Category</th>		
			<th>Company code</th>		
		</thead>
		<tbody>
			<tr ng-repeat="drug in drugs track by $index">
				<td><a href="#project/drug/{{drug.id}}">{{drug.id}}</a></td>
				<td>{{categoryIdToDisplayName[drug.drug_category]}}</td>
				<td>{{handleNull(drug.company_code)}}</td>
			</tr>
		</tbody>
	</table>


</div>