<g>
	<rect ng-repeat="queryAa in selectedQueryFeatAnalysis.aas track by $index"
	class="{{aaDiff(queryAa) ? 'queryAaDiffBackground' : 'queryAaBackground'}}"
	ng-attr-x="{{aaX(queryAa)}}"
	ng-attr-y="{{aaY}}"
	ng-attr-width="{{aaWidth(queryAa)}}"
	ng-attr-height="{{aaHeight}}"
	></rect>
   <text ng-repeat="queryAa in selectedQueryFeatAnalysis.aas track by $index"
   class="{{aaDiff(queryAa) ? 'queryAaDiff' : 'queryAa'}}" 
	ng-attr-x="{{aaX(queryAa)}}"
	ng-attr-y="{{aaY}}"
	ng-attr-width="{{aaWidth(queryAa)}}"
	ng-attr-height="{{aaHeight}}"
	ng-attr-dx="{{aaDx(queryAa)}}"
	ng-attr-dy="{{aaDy}}"
	   	>{{queryAa.aa}}</text>
</g>
	