<g>
		<!-- 
		<defs> 
			<linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%" > 
			<stop offset="0%" style="stop-color:#ccf2ff;stop-opacity:1" />
			<stop offset="25%" style="stop-color:#e6f9ff;stop-opacity:1" />
			<stop offset="75%" style="stop-color:#e6f9ff;stop-opacity:1" />
			<stop offset="100%" style="stop-color:#ccf2ff;stop-opacity:1" />
			</linearGradient> 
		</defs>
		-->
		<!-- fill="url(#lgrad)"  -->
	<g ng-attr-transform="translate(0, {{y}})">
		<g 
			ng-repeat="varProp in varProps track by $index"
		>
			<rect 
				class="varLocation"
				ng-show="varProp.mouseOver"
				ng-attr-x="{{varProp.x}}"
				ng-attr-width="{{varProp.width}}"
				ng-attr-height="{{varProp.locationHeight}}"
			></rect>
		</g>
	</g>
	<g ng-attr-transform="translate(0, {{y}})">
		<g 
			ng-repeat="aaProp in aaProps track by $index"
			ng-attr-transform="translate({{aaProp.x}}, 0)"
		>
			<rect 
				class="{{ aaProp.diff ? 'queryAaDiffBackground' : 'queryAaBackground'}}"
				ng-attr-width="{{aaProp.width}}"
				ng-attr-height="{{aaProp.height}}"
			></rect>
			<text 
				class="{{ aaProp.diff ? 'queryAaDiff' : 'queryAa'}}" 
				ng-attr-width="{{aaProp.width}}"
				ng-attr-height="{{aaProp.height}}"
				ng-attr-dx="{{aaProp.dx}}"
				ng-attr-dy="{{aaProp.dy}}"
			>{{aaProp.text}}</text>
		</g>
	</g>
	<g ng-attr-transform="translate(0, {{y + svgParams.aaHeight}})">
		<g 
			ng-repeat="ntSegProp in ntSegProps track by $index"
		>
			<g 
				ng-repeat="ntProp in ntSegProp.ntProps track by $index"
				ng-attr-transform="translate({{ntProp.x}}, 0)"
			>
				<rect 
					ng-if="ntProp.diff"
					class="queryNtDiffBackground"
					ng-attr-width="{{ntProp.width}}"
					ng-attr-height="{{ntProp.height}}"
				></rect>
				<text
					class="{{ ntProp.diff ? 'queryNtDiff' : 'queryNt'}}"
					ng-attr-width="{{ntProp.width}}"
					ng-attr-height="{{ntProp.height}}"
					ng-attr-dx="{{ntProp.dx}}"
					ng-attr-dy="{{ntProp.dy}}"
				>{{ntProp.text}}</text>
			</g>   		
			<g 
				ng-attr-transform="translate(0, {{svgParams.ntHeight}})"
				class="queryNtIndex"
			>
				<text
					ng-attr-x="{{ntSegProp.startIndexX}}"
					ng-attr-width="{{svgParams.ntWidth}}"
					ng-attr-height="{{svgParams.ntIndexHeight}}"
					ng-attr-dx="{{ntSegProp.indexDx}}"
					ng-attr-dy="{{ntSegProp.indexDy}}"
				>{{ntSegProp.startIndexText}}</text>
				<text
					ng-attr-x="{{ntSegProp.endIndexX}}"
					ng-attr-width="{{svgParams.ntWidth}}"
					ng-attr-height="{{svgParams.ntIndexHeight}}"
					ng-attr-dx="{{ntSegProp.indexDx}}"
					ng-attr-dy="{{ntSegProp.indexDy}}"
				>{{ntSegProp.endIndexText}}</text>
			</g>
		</g>
	</g>
	<g ng-attr-transform="translate(0, {{y + svgParams.aaHeight + svgParams.ntHeight + svgParams.ntIndexHeight}})">
		<g 
			ng-repeat="varProp in varProps track by $index"
		>
			<rect 
				ng-attr-id="{{varProp.id}}"
				ng-attr-class="vcat_{{varProp.variationCategory}}"
				ng-attr-x="{{varProp.x}}"
				ng-attr-y="{{varProp.y}}"
				ng-attr-width="{{varProp.width}}"
				ng-attr-height="{{varProp.height}}"
				ng-mouseenter="varProp.mouseOver = true"
   				ng-mouseleave="varProp.mouseOver = false"
   				ng-click="displayVariation(varProp)"
				tooltip="{{varProp.text}}" 
		        tooltip-append-to-body="true" 
		        tooltip-placement="top"
		        tooltip-animation="false"
			></rect>
			<rect 
				class="varBox"
				ng-attr-stroke-width="{{varProp.mouseOver ? 2 : 1}}"
   				ng-attr-x="{{varProp.x}}"
				ng-attr-y="{{varProp.y}}"
				ng-attr-width="{{varProp.width}}"
				ng-attr-height="{{varProp.height}}"
			></rect>
		</g>
	</g>
</g>
	