<div class="modal-header dialog-header-error">
	<h4 class="modal-title">
		{{error.title}}
	</h4>
</div>
<div class="modal-body">
	<div>
	{{error.bodyHeadline}}
	</div>
	<p></p>
	<div class="lead">
	{{error.glueMessage}}
	</div>
	<div class="small" ng-show="error.showItems">
		<h4>Details</h4>
		<table style="width:100%" class="table table-condensed table-bordered">
			<tr ng-repeat="item in error.items">
				<td><b>{{item.name}}</b></td>
				<td ng-if="item.name == 'commandXml'">
					<span hljs source="item.value"></span>
				</td>
				<td ng-if="item.name != 'commandXml'">{{item.value}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="dismiss()">OK</button>
</div>
