<div class="modal-header">
	<h2 class="modal-title">Configure alignment</h2>
</div>
<div class="modal-body">
	<h4>Select genome region</h4>
	<div>
		<genome-feature-tree feature-tree="data.featureTree" selected-node="selectedNode"/>		
	</div>
	
	<div ng-show="selectedNode.featureMetatag.indexOf('CODES_AMINO_ACIDS') >= 0 && selectedNode.featureMetatag.indexOf('INFORMATIONAL') < 0">
		<h4>Alignment type</h4>
		<div class="btn-group">
			<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid active" 
				ng-model="result.alignmentType" btn-radio="'nucleotide'">Nucleotide</label>
			<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid" 
				ng-model="result.alignmentType" btn-radio="'aminoAcid'">Amino acid</label>
		</div>
	</div>

	<div ng-show="selectedNode.featureMetatag.indexOf('INFORMATIONAL') < 0">
		<h4>Alignment region</h4>
		
		<div class="btn-group">
			<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid active" 
				ng-model="result.regionPart" btn-radio="'wholeRegion'">Entirety of {{selectedNode.featureRenderedName}}</label>
			<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid" 
				ng-model="result.regionPart" btn-radio="'subRegion'">Subregion of {{selectedNode.featureRenderedName}}</label>
		</div>

		<div ng-show="result.regionPart == 'subRegion'">
			<h4>Subregion coordinates</h4>
			<div ng-show="selectedNode.featureMetatag.indexOf('CODES_AMINO_ACIDS') >= 0 && result.alignmentType == 'nucleotide'" class="btn-group">
				<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid active" 
					ng-model="result.specifySubregionBy" btn-radio="'nucleotides'">Specify by nucleotide</label>
				<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid" 
					ng-model="result.specifySubregionBy" btn-radio="'codons'">Specify by codon</label>
			</div>
			<p style="margin-top:10px">
				<span ng-show="result.specifySubregionBy == 'codons'">
						<input style="height:27px;width:200px;" placeholder="Start codon" type="text" ng-model="result.lcStart" /> to 
						<input style="height:27px;width:200px;" placeholder="End codon" type="text" ng-model="result.lcEnd" />
				</span>
				<span ng-show="result.specifySubregionBy == 'nucleotides'">
						<input style="height:27px;width:200px;" placeholder="Start nucleotide" type="text" ng-model="result.refStart" /> to 
						<input style="height:27px;width:200px;" placeholder="End nucleotide" type="text" ng-model="result.refEnd" />
				</span>
			</p>
		</div>
	</div>	

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="accept()" ng-disabled="selectedNode.featureMetatag.indexOf('INFORMATIONAL') >= 0">OK</button>
	<button type="button" class="btn btn-cancel" ng-click="dismiss()">Cancel</button>
</div>
