<div class="modal-header">
	<h2 class="modal-title">Filters</h2>
	<p>Configure which data filters will be used select table rows. </p>
	<h4>Notes</h4>
	<ul>
	<li>Table rows will be selected only if they pass all filters. </li>
	<li>The <b>contains</b> option searches for a substring, and the % character may be used as a wildcard. </li>
	<li>The <b>matches</b> option requires an exact match, ignoring upper/lower case. </li>
	</ul>
</div>
<div class="modal-body">
	<div ng-show="data.newFilterElems.length == 0 || data.newFilterElems == null"><p>No filters configured</p></div>
	<div ng-show="data.newFilterElems.length > 0">
		<div class="row" style="margin-bottom: 10px" ng-repeat="filterElem in data.newFilterElems" ng-controller="filterElemCtrl">
			<div class="btn-group col-md-4" style="padding-right:0px" id="property-group" dropdown is-open="property_isopen">
			     <button id="property-button" type="button" class="btn btn-default table-dropdown" dropdown-toggle>
				{{filterElemProperty.displayName}} <span class="caret table-dropdown-caret"></span>
			     </button>
			     <ul class="dropdown-menu" style="margin-left: 15px" role="menu" aria-labelledby="property-button">
			       <li ng-repeat="availableFilterProperty in data.filterProperties" 
			       		ng-click="setFilterElemProperty(availableFilterProperty)" role="menuitem"><a >
			       	{{availableFilterProperty.displayName}}</a></li>
			     </ul>
			</div>
			<div ng-if="typeHasOperator(filterElemProperty.filterHints.type)" class="btn-group col-md-3" style="padding-right:0px" id="operator-group" dropdown is-open="operator_isopen">
			     <button id="operator-button" type="button" class="btn btn-default table-dropdown" dropdown-toggle>
			       <span>{{filterElem.predicate.operand == null || filterElem.predicate.operand.length <= 1 || !filterElemOperator.multiOperand ? filterElemOperator.displayName : filterElemOperator.multiDisplayName}}</a>
</span> <span class="caret table-dropdown-caret"></span>
			     </button>
			     <ul class="dropdown-menu" style="margin-left: 15px" role="menu" aria-labelledby="operator-button">
			       <li ng-repeat="availableOperator in availableOperatorsForFilterHints(filterElemProperty.filterHints)" 
			       		ng-click="setFilterElemOperator(availableOperator)" role="menuitem"><a >
			       	{{filterElem.predicate.operand == null || filterElem.predicate.operand.length <= 1 || !availableOperator.multiOperand ? availableOperator.displayName : availableOperator.multiDisplayName}}</a>
			     </ul>
			</div>
			<div ng-if="filterElem.type == 'FeaturePresence'" style="padding-right:0px" class="btn-group col-md-3" id="feature-group" dropdown is-open="feature_isopen">
			     <button id="feature-button" type="button" class="btn btn-default table-dropdown" dropdown-toggle>
			       <span>{{filterElem.custom.feature.featureRenderedName}}</a></span> <span class="caret table-dropdown-caret"></span>
			     </button>
			     <ul class="dropdown-menu table-feature-elem" style="margin-left: 15px" role="menu" aria-labelledby="feature-button">
			       <li ng-repeat="feature in filterElemProperty.filterHints.getFeaturePresenceFeatures()" 
			       		ng-click="setCustomProperty('feature', feature)" class="table-month-elem" role="menuitem"><a>{{feature.featureRenderedName}}</a></li>
			     </ul>
			</div>
			<div class="col-md-3" style="padding-right:0px">
				<div ng-show="filterElemOperator.hasOperand || filterElem.type == 'FeaturePresence'" ng-switch="filterElem.type">
					<div ng-switch-when="Date">
			            <input type="number" placeholder="dd" class="table-day" ng-change="updateDateOperand" ng-model="date.day"/>
						<div class="btn-group" id="month-group" style="margin-left: 5px" dropdown is-open="month_isopen">
						     <button id="month-button" type="button" class="btn btn-default table-month" dropdown-toggle>
						       <span>{{date.month}}</a></span> <span class="caret table-dropdown-caret"></span>
						     </button>
						     <ul class="dropdown-menu table-month-elem" role="menu" aria-labelledby="month-button">
						       <li ng-repeat="month in months" 
						       		ng-click="setDateMonth(month)" class="table-month-elem" role="menuitem"><a>{{month}}</a></li>
						     </ul>
						</div>
			            <input type="number" placeholder="yyyy" class="table-year" ng-change="updateDateOperand" ng-model="date.year"/>
					</div>
					<div ng-switch-when="FeaturePresence">
					     Min. coverage: <input type="number" class="table-coverage-textbox" ng-model="filterElem.custom.minCoveragePct"/> %
					</div>
					<div ng-switch-default>
						<div ng-if="filterElem.predicate.operand.length > 1" class="input-group" style="padding-bottom:5px" ng-repeat="operandElem in filterElem.predicate.operand track by $index">
							<input  
								class="table-textbox" placeholder="Enter value" type="inputTypeForProperty()" ng-model="filterElem.predicate.operand[$index]" />
							<span class="input-group-btn">
			                	<button type="button" class="btn btn-primary btn-sm table-button" ng-click="removeOperand($index)"><i class="glyphicon glyphicon-trash"></i></button>
							</span>
						</div>
						<div ng-if="filterElem.predicate.operand.length == 1" style="padding-bottom:5px">
							<input class="table-textbox" placeholder="Enter value" type="inputTypeForProperty()" ng-model="filterElem.predicate.operand[0]" />
			            </div>
			            <button ng-if="filterElemOperator.multiOperand" type="button" class="btn btn-primary btn-xs" ng-click="addOperand()"><i class="glyphicon glyphicon-plus"></i> Add alternative value</button>
					</div>
				</div>
			</div>
			<div class="col-md-2" style="padding-right:0px">
				<button type="button" class="btn btn-primary btn-sm table-button"
					ng-click="removeFilterElem(filterElem)"/>
					<span class="glyphicon glyphicon-trash"></span> Remove filter
				</button>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-primary btn-sm" ng-click="addFilterElem()"><span class="glyphicon glyphicon-plus"></span> Add filter</button>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="accept()">OK</button>
	<button type="button" class="btn btn-primary" ng-show="data.defaultFilterElems" ng-click="resetToDefault()">Reset to default</button>
	<button type="button" class="btn btn-cancel" ng-click="dismiss()">Cancel</button>
</div>
