<h2>{{coreSchemaMenuTitle}}</em></h2>
<div class="row">
	<div class="col-md-6">
		<p>
		A rich dataset can be constructed around virus nucleotide data within GLUE. 
		The nucleotide data within a GLUE project is structured according to the Core Schema; a fixed set of object types and relationships. These bring a
		certain level of evolution-oriented organisation to virus 
		sequence data and also capture the objects and relationships most commonly
		required to analyse sequence data. 
		</p>
		<p>
		In the text below, we outline the main GLUE object types, their intended semantics and the relationships between them. 
		GLUE object types are denoted in italicised CamelCase, e.g. <em>FeatureLocation</em>. Some 
		of the main fields and relationships between objects are labelled on the diagrams.
		</p>
		
		<ol>
			<li><a ng-click="scrollTo('ERDs')">GLUE Objects, Fields and Relationships</a></li>
			<li><a ng-click="scrollTo('Sequences')"><em>Sequences</em> and <em>Sources</em></a></li>
			<li><a ng-click="scrollTo('Features')"><em>Features</em></a></li>
			<li><a ng-click="scrollTo('ReferenceSequences')"><em>ReferenceSequences</em> and <em>FeatureLocations</em></a></li>
			<li><a ng-click="scrollTo('Alignments')"><em>Alignments</em> and <em>AlignmentMembers</em></a></em></a></li>
			<li><a ng-click="scrollTo('Variations')"><em>Variations</em></a></li>
		</ol>
	</div>
	<div class="col-md-6">
		<p>
			<a href="images/projectModel.png" ><img width="100%" src="images/projectModel.png" /></a>
		</p>
		<div align="center">
		<p>The main object types and relationships in the glue core schema. <br/>Click image to see a larger version.</p>
		</div>
	</div>
</div>
<h3 id="ERDs">GLUE Objects, Fields and Relationships</h3>
<p>
	GLUE stores data items as objects. These objects include both field values and relationships with other stored objects. 
	Relationships are named, and allow logic to traverse between related objects. 
	The definitions of the available object types, fields and relationships together comprise the schema. 
	The core schema is present in every GLUE project, but this schema may also be extended on a per-project basis, via <a href="#/schemaExtensions">schema extensions</a>. 
	In this page, we use entity-relationship diagram notation to document the schema. If you are unfamiliar with 
	relational database concepts, this <a ng-click="notationDialog()">explanation based
	on a contrived example</a> should provide a reasonable grounding.
</p>

<h3 id="Sequences"><em>Sequences</em> and <em>Sources</em></h3>
<div class="row">
	<div class="col-md-8">
		<p>
			A set of FASTA virus nucleotide sequences forms the foundation of
			each GLUE project data set. Each GLUE <em>Sequence</em> object is
			assumed to be a section of viral RNA or DNA. Sequences may originate
			from any laboratory sequencing technique as long as FASTA nucleotide
			data is produced. Sequences may also be in silico constructs, such
			ancestral reconstructions, or consensus sequences which are each
			representatives of a larger set. A <em>Sequence</em> object may cover
			the whole of the virus genome, or only a part. 
		</p>
		<p>
			Within a GLUE project, <em>Sequences</em> must be stored within
			<em>Source</em> objects. These exist purely to group sequences; the meaning or usage of
			these groups is left to the project developer.
			<em>Sequences</em> are identified by their 
			<em>sequenceID</em> string field. However, the uniqueness of the 
			<em>sequenceID</em> value is limited to the containing <em>Source</em> object.
			So, no two <em>Sequences</em> within the same <em>Source</em> may have the same 
			<em>sequenceID</em>; conversely two <em>Sequences</em> within two different <em>Sources</em>
			may have the same <em>sequenceID</em>. 
		</p>
		<p>
			<em>Sequences</em> may be imported into GLUE from multiple file formats. The 
			specific format is recorded in a field value on the <em>Sequence</em> object; 
			the original file data is stored in the database in byte form. The aim of this is to 
			allow retrieval of any non-nucleotide data which may be present in the original data file.
			This original data is immutable for the lifetime of the <em>Sequence</em> object.
		</p>
	</div>
	<div class="col-md-4">
		<img width="50%" src="images/sourceSequence.png" />
	</div>
</div>

<h3 id="Features"><em>Features</em></h3>
<div class="row">
	<div class="col-md-8">
		<p>
		For many virus species, biological properties of certain named regions
		of the virus genome have been suggested or established. Within a GLUE
		project, <em>Feature</em> objects may be created for any genomic region of
		interest. Examples include regions which are understood to code for
		polyproteins or individual proteins, or regions which code for domains
		within a protein. <em>Feature</em> objects may also represent non-coding regions
		such as promoter regions. The <em>Feature</em> objects in a GLUE project may be
		arranged in a hierarchy, with each <em>Feature</em> optionally having a single
		parent <em>Feature</em> object and several child <em>Feature</em> objects associated. This
		should reflect the containment relationships of the corresponding genome
		regions. One example of this would be a genome region that is translated into a precursor 
		polyprotein which is later cleaved into several final proteins. The precursor polyprotein would 
		be defined as one genome feature. Each of the final proteins would be defined as an additional
		feature which is a child of the precursor polyprotein.  
		</p>
		<p>
		<em>Feature</em> objects may also have <em>FeatureMetatag</em> objects
		associated. These are simple metadata properties, with fixed semantics,
		which allow specialised GLUE functionality to interpret <em>Feature</em> objects,
		for example to perform protein translation.
		</p>
	</div>
	<div class="col-md-4">
		<img width="70%" src="images/features.png" />
	</div>
</div>

<h3 id="ReferenceSequences"><em>ReferenceSequences</em> and <em>FeatureLocations</em></h3>

<div class="row">
	<div class="col-md-6">

<p>
GLUE uses <em>ReferenceSequence</em> objects to organise, link and interpret the
wider set of <em>Sequence</em> objects. A <em>ReferenceSequence</em> is based on a
specific <em>Sequence</em> and this relationship is mandatory and immutable for
the lifetime of the <em>ReferenceSequence</em>. The choice of which <em>Sequence</em>
objects to use for <em>ReferenceSequence</em> objects will vary from project to
project, some examples are:
<ul>
	<li>Sequences which have been curated as reference sequences by
		another database, e.g. NCBI RefSeq</li>
	<li>Sequences derived from well-known virus strains which were
		identified early in the study of a particular virus species or subtype</li>
	<li>Sequences derived from virus strains which have become
		established as having important laboratory uses</li>
	<li>Sequences where the genome is particularly well-annotated</li>
	<li>Less frequently, sequences derived from an <em>in silico</em> procedure such as
		computing the consensus of a wider set, or ancestral reconstruction</li>
</ul>
</p>

<p>
One of the main functions of <em>ReferenceSequences</em> in GLUE is to map the specific 
co-ordinates of of genome features. To achieve this, a <em>ReferenceSequence</em> object
may contain <em>FeatureLocation</em> objects in order
to represent the presence and position of specific <em>Features</em>. A <em>FeatureLocation</em>
is considered a wholly contained constituent part of a <em>ReferenceSequence</em>, but it 
is also immutably associated with a single <em>Feature</em> during its lifetime. 
</p>
<p>
A <em>FeatureLocation</em> contains a set of <em>FeatureSegment</em>
objects which specify the coordinates of the associated <em>Feature</em> on the
<em>ReferenceSequence</em>. The <em>FeatureSegment</em> objects contain start and end
points, and together may specify a discontiguous region.
</p>
<p>
Typically, mulitple <em>ReferenceSequences</em> will contain <em>FeatureLocations</em> for 
the same <em>Feature</em>, but with different co-ordinates specified by their <em>FeatureSegments</em> as necessary. 
Additionally, a certain <em>Feature</em> may or may not be present (i.e. be associated with a 
<em>FeatureLocation</em>) on a given
<em>ReferenceSequence</em> in the GLUE project. This flexibility may be useful
for example when specific virus genes exist only in a subset of taxa within the
project scope. 
</p>
</div>
	<div class="col-md-6">
		<img width="100%" src="images/referenceSequences.png" />
	</div>
</div>


<h3 id="Alignments"><em>Alignments</em> and <em>AlignmentMembers</em></h3>

<div class="row">
	<div class="col-md-6">
<p>GLUE projects capture nucleotide homologies between <em>Sequences</em>. At a
	fine-grained level, these homologies may be thought of as statements
	proposing that a certain block of nucleotides in one <em>Sequence</em> has the
	same evolutionary origin as a certain block in a second <em>Sequence</em>.</p>

<p><em>Alignments</em> in GLUE aggregate homologies relating to a set
	of “member” <em>Sequences</em> that are associated with the <em>Alignment</em> via
	<em>AlignmentMember</em> objects. So in concrete terms an <em>Alignment</em>
	contains a set of <em>AlignmentMember</em> objects and each <em>AlignmentMember</em>
	associates a member <em>Sequence</em> with the containing <em>Alignment</em>.</p>

<p>Each <em>Alignment</em> defines a reference
	coordinate space. Homologies between members of the alignment are expressed in terms of this coordinate space. 
	Each <em>AlignmentMember</em> contains a set of
	<em>AlignedSegment</em> objects; these are homology statments locating a block of member <em>Sequence</em> nucleotides in the reference 
	coordinate space. An <em>AlignedSegment</em> is a tuple with
	four integer fields:</p>
<p>
<em>&lt;refStart, refEnd, memberStart, memberEnd&gt;</em>
</p>
<p>
	This states that the block [<em>memberStart</em>, <em>memberEnd</em>]
	in the member <em>Sequence</em> is homologous with the block [<em>refStart</em>,
	<em>refEnd</em>] in the reference coordinate space of the containing
	<em>Alignment</em>. GLUE ensures that these two regions
	are always of equal length.
</p>
<p>This reference coordinate space associated with an <em>Alignment</em>
	object is used as an indirect step relating the member sequence
	nucleotides with each other. So, two blocks of nucleotides from
	distinct member <em>Sequence</em> objects within an <em>Alignment</em> are considered to
	be homologous when they are mapped via <em>AlignedSegment</em> objects to the
	same reference coordinates.</p>
	</div>
	<div class="col-md-6">
		<img width="100%" src="images/alignments.png" />
	</div>
</div>	

For more in-depth information on GLUE <em>Alignments</em> and how they are 
linked together, read the <a href="#alignments">Alignments and Alignment Trees</a> documentation.


<h3 id="Variations"><em>Variations</em></h3>
<div class="row">
	<div class="col-md-6">
		<p>
			Various usage scenarios within virus research and clinical or
			public health applications require that sequences are analysed for
			the presence of nucleotide or amino-acid residue patterns.
		</p>
		<p>
			GLUE addresses this type of question via the <em>Variation</em>
			object class. A <em>Variation</em> is a named nucleotide or
			amino-acid residue pattern. GLUE contains commands which use <em>Variation</em>
			objects to analyse sequence data.
		</p>
		<p>
			In order to anchor the genomic location in which the pattern may be
			analysed, <em>Variation</em> objects are contained within a <em>FeatureLocation</em>
			object belonging to a specific <em>ReferenceSequence</em>. Thus, the
			<em>FeatureLocation</em> provides a coordinate space in which the <em>Variation</em>
			is located. This allows documented patterns from the literature to be
			quickly incorporated into a GLUE project using standardised
			coordinates. 
		</p>
		<p>
			The <a href="#/variations">Variations section of the User Guide</a> gives details on how
			they can be constructed and utilised.
		</p>
	</div>
	<div class="col-md-6">
			<img width="100%" src="images/variation.png" />
	</div>
</div>

