
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Remove "blue glow" from buttons
	could be the wrong thing to do in terms of accessibility?  */

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}



.my-drop-zone { 
	border: dotted 3px lightgray; 
}

.nv-file-over { 
	border: dotted 3px red; 
} 
/* Default class applied to drop zones on over */
.another-file-over-class { 
	border: dotted 3px green; 
}

a {
	cursor: pointer;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.table-nonfluid {
   width: auto !important;
}

.table-textbox {
   height: 39px !important;
   padding-left: 10px;
   width: 100% !important;   
}

.table-dropdown {
   width: 100% !important;
   text-align: left !important;
}

.table-dropdown-caret {
	float:right; 
	margin:7px 0;
}

/* change yeti tooltip colours */

.tooltip.top .tooltip-inner {
    background-color: #008cba;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #008cba;
}


.display-hide {
   display: none;
}

.paging-buttons {
  padding-left: 15px;
}

/* hide chrome native datepicker */
input::-webkit-calendar-picker-indicator{
    display: none;
}
A
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

